
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: gray;
}

.navbar {
    background-color: #333; 
    padding: 15px 0;
    display: flex;
    align-items: center;
}

.nav-links {
    list-style: none;
    padding: 0;
    display: flex;
    width: 100%;
}

.nav-links li {
    margin: 0 15px;
}

.nav-links .contact {
    margin-left: auto; 
}

.nav-links a {
    text-decoration: none;
    color: white;
    font-size: 18px;
    padding: 10px 15px;
    transition: 0.3s ease-in-out;
    border-radius: 5px;
}

.nav-links a:hover {
    background-color: #ff6600; 
    color: white;
}
